@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: auto;
    background-color: white;
}

header {
    width: 100%;
    height: 60px;
    background-color: #06254e;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.logo {
    display: inline-block;
}

.logo img {
    width: 30px;
    padding: 13px;
}

#log-b {
    display: none;
}

.menu-pc {
    position: absolute;
    top: 20px;
    right: 25px;
}

.menu-pc ul {
    cursor: context-menu;
    display: inline-block;
}

.menu-pc li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
}

.menu-pc a {
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
}

.menu-pc a:hover {
    color: black;
    background-color: white;
}

.menu-btn {
    margin: 5px;
    display: none;
    position: absolute;
    top: 3px;
    right: 5px;
}

.menu-btn-svg {
    width: 35px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
    stroke: white;
}

.menu-btn-svg:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-mobile {
    width: 50%;
    height: 130px;
    padding: 10px;
    text-align: center;
    background-color: #eeeeee;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    display: none;
    transition: 0.4s;
}

.menu-mobile li {
    margin: 15px;
    list-style-type: none;
}

.menu-mobile a{
    font-size: 15px;
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
}

.menu-mobile a:hover {
    color: white;
    background-color: #06254e;
}

@media screen and (max-width: 400px){
    .menu-pc {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    .open {
        display: block;
    }
}

/*=======================*/

.filtro {
    max-width: 400px;
    height: auto;
    margin: auto;
    padding-top: 150px;
    font-family: 'Poppins', sans-serif;
}

.box-filtro {
    background-color: #eeeeee;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-bottom: 10px;
}

.box-filtro h1 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

.box-filtro p {
    font-size: 13px;
    text-align: center;
    padding: 0px 10px;
    font-weight: 500;
}

.box-filtro li {
    list-style-type: none;
    margin: 30px;
    text-align: center;
}

.box-filtro a {
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding: 11px 38px;
    font-size: 15px;
    background-color: white;
    border-radius: 5px;
    transition: 0.4s;
    text-align: center;
}

.box-filtro a:hover {
    background-color: #1f3758;
    color: white;
}

.box-filtro h2 {
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 15px;
    background-color: white;
    border-radius: 5px;
    transition: 0.4s;
    text-align: center;
    cursor: no-drop;
    width: 150px;
    margin: auto;
}

/*=======================*/

.matematica {
    font-family: 'Poppins', sans-serif;
    padding-top: 150px;
    width: 100%;
    height: auto;
}

.matematica h1 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

/*=========*/

.mat-a {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

.qts-a {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-a {
    display: none;
}

.btn-resolucao-a {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-a:hover {
    background-color: #1f3758;
}

/*==========*/

.qts-b {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-b {
    display: none;
}

.btn-resolucao-b {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-b:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-c {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-c {
    display: none;
}

.btn-resolucao-c {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-c:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-d {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-d {
    display: none;
}

.btn-resolucao-d {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-d:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-e {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-e {
    display: none;
}

.btn-resolucao-e {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-e:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-f {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-f {
    display: none;
}

.btn-resolucao-f {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-f:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-g {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-g {
    display: none;
}

.btn-resolucao-g {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-g:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-h {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-h {
    display: none;
}

.btn-resolucao-h {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-h:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-i {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-i {
    display: none;
}

.btn-resolucao-i {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-i:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-j {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-j {
    display: none;
}

.btn-resolucao-j {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-j:hover {
    background-color: #1f3758;
}

/*======*/

#infoA {
    display: none;
}

#infoB {
    display: none;
}

#infoC {
    display: none;
}

#infoD {
    display: none;
}

#infoE {
    display: none;
}

#infoF {
    display: none;
}

#infoG {
    display: none;
}

#infoH {
    display: none;
}

#infoI {
    display: none;
}

#infoJ {
    display: none;
}

/*==========*/

.mat-b {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

.qts-a-b {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-a-b {
    display: none;
}

.btn-resolucao-a-b {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-a-b:hover {
    background-color: #1f3758;
}

/*==========*/

.qts-b-b {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-b-b {
    display: none;
}

.btn-resolucao-b-b {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-b-b:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-c-b {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-c-b {
    display: none;
}

.btn-resolucao-c-b {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-c-b:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-d-b {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-d-b {
    display: none;
}

.btn-resolucao-d-b {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-d-b:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-e-b {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-e-b {
    display: none;
}

.btn-resolucao-e-b {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-e-b:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-f-b {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-f-b {
    display: none;
}

.btn-resolucao-f-b {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-f-b:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-g-b {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-g-b {
    display: none;
}

.btn-resolucao-g-b {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-g-b:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-h-b {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-h-b {
    display: none;
}

.btn-resolucao-h-b {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-h-b:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-i-b {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-i-b {
    display: none;
}

.btn-resolucao-i-b {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-i-b:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-j-b {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-j-b {
    display: none;
}

.btn-resolucao-j-b {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-j-b:hover {
    background-color: #1f3758;
}

/*======*/

#infoA-b {
    display: none;
}

#infoB-b {
    display: none;
}

#infoC-b {
    display: none;
}

#infoD-b {
    display: none;
}

#infoE-b {
    display: none;
}

#infoF-b {
    display: none;
}

#infoG-b {
    display: none;
}

#infoH-b {
    display: none;
}

#infoI-b {
    display: none;
}

#infoJ-b {
    display: none;
}

/*==========*/

/*==========*/

.mat-c {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

.qts-a-c {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-a-c {
    display: none;
}

.btn-resolucao-a-c {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-a-c:hover {
    background-color: #1f3758;
}

/*==========*/

.qts-b-c {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-b-c {
    display: none;
}

.btn-resolucao-b-c {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-b-c:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-c-c {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-c-c {
    display: none;
}

.btn-resolucao-c-c {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-c-c:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-d-c {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-d-c {
    display: none;
}

.btn-resolucao-d-c {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-d-c:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-e-c {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-e-c {
    display: none;
}

.btn-resolucao-e-c {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-e-c:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-f-c {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-f-c {
    display: none;
}

.btn-resolucao-f-c {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-f-c:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-g-c {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-g-c {
    display: none;
}

.btn-resolucao-g-c {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-g-c:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-h-c {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-h-c {
    display: none;
}

.btn-resolucao-h-c {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-h-c:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-i-c {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-i-c {
    display: none;
}

.btn-resolucao-i-c {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-i-c:hover {
    background-color: #1f3758;
}

/*======*/

/*==========*/

.qts-j-c {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
    margin: 20px;
}

.box-resposta-j-c {
    display: none;
}

.btn-resolucao-j-c {
    padding: 10px 15px;
    background-color: #06254e;
    color: white;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.4s;
}

.btn-resolucao-j-c:hover {
    background-color: #1f3758;
}

/*======*/

#infoA-c {
    display: none;
}

#infoB-c {
    display: none;
}

#infoC-c {
    display: none;
}

#infoD-c {
    display: none;
}

#infoE-c {
    display: none;
}

#infoF-c {
    display: none;
}

#infoG-c {
    display: none;
}

#infoH-c {
    display: none;
}

#infoI-c {
    display: none;
}

#infoJ-c {
    display: none;
}

/*==========*/

/*=========================*/

.btn-page {
    width: 100%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.btn-page ul {
    max-width: 200px;
    height: auto;
    background-color: #eeeeee;
    margin: auto;
    cursor: context-menu;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.btn-page li {
    display: inline-block;
    list-style-type: none;
    margin: 5px 10px;
}

.btn-page a {
    padding: 5px 15px;
    text-align: center;
    background-color: #06254e;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.4s;
}

.btn-page a:hover {
    background-color: #242d3a;
}

/*===============*/

#mat-b {
    display: none;
}

#mat-c {
    display: none;
}

/*=======================*/

footer {
    width: 100%;
    height: auto;
    background-color: #1f3758;
    padding: 10px;
}

.footer {
    text-align: center;
}

.footer ul {
    cursor: context-menu;
}

.footer li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.footer img {
    height: 14px;
}

.footer p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    cursor: auto;
}

.footer a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

/*==================*/

#btnTop{
    background-color: #06254e;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 25px;
    height: 25px;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: flex;
    cursor: pointer;
    transition: 0.4s;
}

#btnTop:hover {
    background-color: #242d3a;
}

/*==================*/


/*========ajustes========*/

.cor-principal {
    font-weight: 900;
    color: #06254e;
}

.cor-vermelha {
    font-weight: 800;
    color: red;
}

/*=======================*/

::-webkit-scrollbar {
    background-color: #f3f6f8;
}

::-webkit-scrollbar-thumb {
    background-color: #06254e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1f3758;
}